<h1>{{title}}</h1>
{{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
    
  {{/each}}
{{/if}}
<h7>HELLO WELCOME TO YOUR PROFILE PAGE! YOUR SPONSOR IS  AND YOUR REFERRAL LINK IS</h7>
<br/>
<h5>EDIT PROFILE</h5>
<form method ="POST" action ="/member/profile">
  <div class="form-group">
    <label for="Phone">Phone number</label>
    <input type="phone" class="form-control" 
id="phone" name ="phone" placeholder="Enter your Phone Number" required />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" 
id="email" name ="email" placeholder="Enter your Email" required />
  </div>
  <div class="form-group">
    <label for="BankName">Bank Name</label>
    <input type="text" class="form-control" 
id="bank_name" name ="bank_name" placeholder="Enter your Bank Name" required />
  </div>
  <div class="form-group">
    <label for="AccountName">Account Name</label>
    <input type="name" class="form-control" 
id="account_name" name ="account_name" placeholder="Enter your Account Name" required />
  </div>
  <div class="form-group">
    <label for="AccountNumber">Account Number</label>
    <input type="number" class="form-control" 
id="account_number" name ="account_number" placeholder="Enter your Account Number" required />
  </div>
<div class="form-group"> <button type="submit" class="btn 
btn-primary">Submit</button> </form>
<br/>
<br/>
<h4>EDIT PASSWORD</h4>
